# Ignore build directory from FluffOS
/build/
# Ignore these mudlib folders and any changes there
/lib/data/
/lib/log/
!/lib/log/README
/open/
!/open/README

tmp_*
# but not these
!**/.gitignore
!/lib/data/config
