# Ignore build directory from FluffOS
/build/
# Ignore these mudlib folders and any changes there
/lib/data/
lib/data/daemons/
/lib/help/
/lib/log/
/lib/wiz/
/lib/.vscode/
/lib/tmp/
/open/
tmp_*
# but not these
!**/.gitignore
!/open/README
!/lib/data/config
!/lib/log/README
