# Ignore build directory from FluffOS
/build/
# Ignore these mudlib folders and any changes there
/lib/data/
/lib/help/
/lib/log/
/open/
tmp_*
# but not these
!**/.gitignore
!/open/README
!/lib/data/config
!/lib/log/README
